body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 25px;
  padding: 0;
}

a {
  text-decoration: none;
  color: #35a;
}

a:hover {
  transition: color linear 0.2s;
  color: #57c;
}

/** Header */
header {
  align-items: center;
  display: flex;
  height: 60px;
}

header > aside {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

h1 {
  color: #333;
  flex: 1;
  font-size: 35px;
  height: 60px;
  line-height: 60px;
  margin: 0;
  overflow: hidden;
}

h1 > small {
  color: #999;
  font-size: 15px;
}

h2 {
  color: #666;
  font-size: 20px;
  margin: 0;
  padding-bottom: 10px;
}


h2 > small {
  color: #999;
}

/** Main */
main {
  align-items: center;
  bottom: 80px;
  display: flex;
  left: 25px;
  position: absolute;
  right: 25px;
  top: 110px;
}

main > section {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

main > img {
  margin: 0 10px;
}

#jsx, #json {
  border-radius: 3px;
  border: 0;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(128, 128, 128, 0.2);
  flex: 1;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  padding: 20px;
  resize: none;
}

#jsx {
  background: #fff;
  color: #222;
}

#json {
  background: #f6f6f6;
  color: #888;
}

/** Footer */
footer {
  align-items: center;
  bottom: 25px;
  display: flex;
  height: 30px;
  left: 25px;
  position: absolute;
  right: 25px;
}

footer > p {
  color: #888;
  order: 1;
  padding-right: 1em;
}

#previewContainer {
  display: flex;
  flex: 1;
  justify-content: end;
  order: 10;
}

#preview {
  align-items: center;
  appearance: none;
  background: #262;
  border-radius: 5px;
  border: 0;
  box-shadow: 0 2px 6px rgba(128, 128, 128, 0.4);
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  height: 30px;
  justify-content: center;
  overflow: hidden;
  padding: 0 20px;
}

#preview > img {
  padding-left: 5px;
}

#preview:hover {
  background: #373;
}

#preview:hover:active {
  background: #151;
}
