body {
  background: #f8f8f8;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 25px;
  padding: 0;
  font-size: 16px;
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: #35a;
}

a:hover {
  transition: color linear 0.2s;
  color: #57c;
}

/* Button */
.button {
  align-items: center;
  appearance: none;
  background: #fcfcfc;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px rgba(128, 128, 128, 0.4);
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  height: 30px;
  justify-content: center;
  overflow: hidden;
  padding: 0 20px;
  user-select: none;
}

.button:hover {
  background: #f8f8f8;
}

.button:hover:active {
  background: #e8e8e8;
}

.button.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.button > span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.button > img {
  padding: 0 5px;
}

.button > img:first-child {
  padding-left: 0;
}

.button > img:last-child {
  padding-right: 0;
}

/* Header */
header {
  align-items: center;
  display: flex;
  height: 60px;
}

header > aside {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h1 {
  color: #333;
  flex: 1;
  font-size: 35px;
  height: 60px;
  line-height: 60px;
  margin: 0;
  overflow: hidden;
}

h1 > small {
  color: #666;
  font-size: 15px;
}

h2 {
  color: #666;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding-bottom: 10px;
}

/* Main */
main {
  align-items: center;
  bottom: 80px;
  display: flex;
  left: 25px;
  position: absolute;
  right: 25px;
  top: 110px;
}

main > section {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

main > img {
  margin: 0 10px;
}

#jsx,
#json {
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(128, 128, 128, 0.2);
  flex: 1;
  font-size: 16px;
  padding: 20px;
}

#jsx {
  position: relative;
  background: #fff url('./loading.svg') no-repeat center center;
  background-size: 64px 64px;
}

#json {
  background: #f6f6f6;
  color: #666;
  resize: none;
}

#jsx > .CodeMirror {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  height: auto;
  cursor: text;
}

#error {
  align-items: flex-start;
  background: #fec;
  border-radius: 5px;
  color: #c00;
  display: flex;
  font-size: 12px;
  height: 60px;
  margin-top: 20px;
  overflow: hidden;
  overflow-y: auto;
}

#error.hide {
  display: none;
}

#error > img {
  position: sticky;
  left: 10px;
  top: 10px;
  padding-right: 10px;
}

#errorDetails {
  flex: 1;
  margin: 0;
  padding: 7px;
  white-space: pre;
}

#jsx > .CodeMirror,
#json,
.CodeMirror-hints,
#errorDetails {
  font-family: 'Monaco', 'Courier New', Courier, monospace !important;
}

/* Footer */
footer {
  align-items: center;
  bottom: 25px;
  display: flex;
  height: 30px;
  left: 25px;
  position: absolute;
  right: 25px;
}

footer > p {
  color: #666;
  order: 1;
  padding-right: 1em;
}

#previewContainer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  order: 10;
  position: relative;
}

#preview {
  background: #262;
  border: 0;
  color: #fff;
}

#preview:hover {
  background: #373;
}

#preview:hover:active {
  background: #151;
}

#examples {
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  display: block;
  float: right;
  cursor: pointer;
}

#copy {
  float: right;
}
